h1 {
  text-align: center;
}

.sample-workouts {
  background-color: #fff;
  padding: 4rem;
}

.sample-workouts h1 {
  margin-bottom: 1rem;
}

.workout-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 80vw;
  margin: auto;
}

@media screen and (max-width: 660px) {
  .sample-workouts {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .workout-card-container {
    flex-direction: column;
    justify-content: center;
    width: 90vw;
  }
}