@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed&family=Sono:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  opacity: 0.9;
}

.main-hero img {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}

.lower-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}

.workout-planner {
  text-align: center;
  width: 25vw;
  margin: auto;
  padding: 1rem;
  border: outset 3px;
  border-radius: 14px;
  transform: translateY(-370px);
  background-color: #fff;
  font-weight: 300;
  opacity: 0.8;
}

.lower-sign-up {
 display: flex;
 justify-content: center;
}

/* .btn & all sub/pseudo classes and .full-rounded made by felipesntr, https://uiverse.io/felipesntr/dangerous-deer-2  */
.btn {
  font-size: 16px;
  position: relative;
  margin: 1rem;
  padding: 1em 2.5em 1em 2.5em;
  border: none;
  background: #fc9e4f;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
 }
 
.btn:active {
  transform: scale(0.95);
}
 
.btn span {
  color: #464646;
}
 
.btn .border {
  position: absolute;
  border: 0.15em solid #fc9e4f;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 3em;
  transform: translate(-50%, -50%);
}
 
.btn:hover .border {
  display: block;
  width: 9.9em;
  height: 3.7em;
}
 
.full-rounded {
  border-radius: 2em;
}

@media screen and (max-width: 660px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: static;
  }
  
  .main-hero img {
    height: 70vh;
  }

  .workout-planner {
    width: 80vw;
    margin-top: 5rem;
  }
}