@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed&family=Sono:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit', sans-serif;
}

.main-hero img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}

/* .btn & all sub/pseudo classes and .full-rounded made by felipesntr, https://uiverse.io/felipesntr/dangerous-deer-2  */
.btn {
  font-size: 16px;
  position: relative;
  margin: 1rem;
  padding: 1em 2.5em 1em 2.5em;
  border: none;
  background: #fc9e4f;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
 }
 
 .btn:active {
  transform: scale(0.95);
 }
 
 .btn span {
  color: #464646;
 }
 
 .btn .border {
  position: absolute;
  border: 0.15em solid #fc9e4f;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 3em;
  transform: translate(-50%, -50%);
 }
 
 .btn:hover .border {
  display: block;
  width: 9.9em;
  height: 3.7em;
 }
 
 .full-rounded {
  border-radius: 2em;
 }