.top-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 40vh;
  background-color: #81d4fa;
  background: -webkit-linear-gradient(to right, #81bffa, #81d4fa);
	background: linear-gradient(to right, #81bffa, #81d4fa);
  text-align: center;
  /* position: relative; */
}

.top-bar h1 {
  margin-bottom: 25px;
}

.stats-container {
  width: 55vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 14px;
  transform: translateY(25px);
}

.stats {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workout-planner {
  text-align: center;
  width: 25vw;
  margin: auto;
  border: outset 3px;
  border-radius: 14px;
  transform: translateY(-370px);
  background-color: #fff;
  /* color: #618b91; */
  font-weight: 300;
  opacity: 0.8;
}

.workout-planner a {
  position: absolute;
  transform: translate(-122px, -10px);
}

@media screen and (max-width: 660px) {
  .top-bar {
    height: 50vh;
  }
  
  .stats-container {
    width: 80vw;
  }
  
  .stats {
    width: 65vw;
  }

  .workout-planner {
    width: 70vw;
    transform: translateY(-220px);
  }

  .workout-planner a {
    transform: translate(-90px, 0);
  }
}